{% extends 'layout/puppet' %}

{% block content %}

<div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Account Verification</h3>
    </div>

  </div>
</div>
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>

  <div class="container">
    <!--<h2>Login</h2>-->
    {% if old('error') %}
    <div class="alert alert-warning" role="alert">
       <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ old('error') }}
    </div>
    {% endif %}

    {{ form.open({ action: 'Auth/AccountVerifyController.verify' }) }}
      {{ csrfField }}

      <div class="loginform">
        <a href="/auth/resend">Send it again?</a>
        <div class="separate" style="margin-top: 10px;"></div>

        <br>
        <h4 style="color: #666">
          Please enter the verification code sent to you via {{ old('verifyMethod', 'email') }}
          at {{ old('email') }}
        </h4>

        <div class="loginform_inputs">
          <div class="input_contain last form-group"> <i class="fa fa-lock"></i>
            <input type="text" class="login" name="token" value="" required>
          </div>
        </div>
        <br>
        <input type="submit" name="submit" value="Verify" class="but_user">
      </div>

    {{ form.close() }}

  <div class="clearfix mar_top8"></div>
</div>

{% endblock %}
