{% extends 'layout/master' %}

{% block content %}

<div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Login To Your Account</h3>
    </div>

  </div>
</div>
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>

  <div class="container">
    <!--<h2>Login</h2>-->
    {% if old('error') %}
      <div class="alert alert-warning" role="alert">
        {{ old('error') }}
      </div>
    {% endif %}

    {% if not old('info') %}

      {{ form.open({ action: 'Auth/ForgotPasswordController.reset' }) }}
        {{ csrfField }}
        <div class="loginform"> 
          
          <a href="/auth/login">Need to login?</a> | 
          <a href="/auth/register">Register perhaps?</a>

          <div class="separate"></div>
          
          <div class="loginform_inputs">
            <div class="input_contain last form-group"> <i class="fa fa-user"></i>
              <input type="text" class="login" name="email" value="" placeholder="Email address" required>
            </div>
          </div>
          <br>
          <input type="submit" name="submit" value="Reset Password" class="but_user">

        </div>
      
      {{ form.close() }}

    {% else %}

      <div class="loginform">

        <a href="/auth/login">Need to login?</a> | 
        <a href="/auth/register">Register perhaps?</a>

        <div class="separate"></div>
        <br>

        <h3>Your account has been reset</h3>
        <p>
          Please check your email for detailed instructions further. Thank you.
        </p>

      </div>

    {% endif %}


    <a class="forgot" href="/auth/register">Don't have an account? Register Here.</a> </div>
  <div class="clearfix mar_top8"></div>
</div>
{% endblock %}
