{% extends 'layout/puppet' %}

{% block content %}

<!-- <div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Login To Your Account</h3>
    </div>

  </div>
</div> -->
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>
  <div class="container">

    {% if old('error') %}
    <div class="message-box-wrap">
      <div class="error" role="alert">
				{{ old('error') }}
			</div>
    </div>
    {% endif %}

    {% if old('info') %}
    <div class="message-box-wrap">
      <div class="error" role="alert">

        {{ old('info') }}
        </div>
      </div>
    {% endif %}

    {{ form.open({ action: 'Auth/LoginController.login' }) }}
      {{ csrfField }}

      <div class="loginform">
        <a href="/auth/forgot">Forgot your login information?</a>
        <!-- <div class="separate"></div> -->
        <div class="loginform_inputs">
          <div class="input_contain form-group"><i class="fa fa-user"></i>&nbsp;&nbsp;
            <input type="email" class="login" name="email" value=""
                   placeholder="Email address"
                   id="email" required autofocus>
          </div>
          <div class="separate"></div>
          <div class="input_contain last form-group"><i class="fa fa-lock"></i>&nbsp;&nbsp;
            <input type="password" class="login" name="password"
                   placeholder="Password"
                   value="" required>
          </div>
        </div>
        <div class="clearfix mar_top1"></div>
        <input type="submit" name="submit" value="Login" class="but_user">
      </div>

    {{ form.close() }}

    <a class="forgot" href="/auth/register">Don't have an account? Register Here.</a> </div>
  <div class="clearfix mar_top8"></div>
</div>

{% endblock %}
