{% extends 'layout/puppet' %}

{% block content %}

<div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Reset Password</h3>
    </div>

  </div>
</div>
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>

  <div class="container">
    <!--<h2>Login</h2>-->
    {% if old('error') %}
      <div class="alert alert-warning" role="alert">
        {{ old('error') }}
      </div>
    {% endif %}

    {{ form.open({ action: 'Auth/ForgotPasswordController.doResetPassword' }) }}
      {{ csrfField }}
      <div class="loginform">
        <a href="/auth/login">Login instead?</a>
        <!-- <div class="separate"></div> -->
        <div class="loginform_inputs">
          <div class="input_contain last form-group"><i class="fa fa-lock"></i>&nbsp;&nbsp;
            <input type="password" class="login" name="password1"
                   placeholder="Password"
                   value="" required>
          </div>
          <div class="separate"></div>
          <div class="input_contain last form-group"><i class="fa fa-lock"></i>&nbsp;&nbsp;
            <input type="password" class="login" name="password2"
                   placeholder="Password (again)"
                   value="" required>
          </div>
          <input type="hidden" name="_code" value="{{ user.verification_code }}">
        </div>
        <div class="clearfix mar_top1"></div>
        <input type="submit" name="submit" value="Reset Password" class="but_user">
      </div>

    {{ form.close() }}

    <a class="forgot" href="/auth/register">Don't have an account? Register Here.</a> </div>
  <div class="clearfix mar_top8"></div>
</div>
{% endblock %}
