{% extends 'layout/puppet' %}

{% block content %}

<!-- <div class="fresh_projects login_bg"> -->
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>
    <div class="container">

      {% if old('error') %}
      <div class="message-box-wrap">
        <div class="error" role="alert">
          {{ old('error') }}
        </div>
      </div>
      {% endif %}

      <!-- <form class="form-horizontal" role="form" method="POST" action="/register"> -->

      {{ form.open({ action: 'Auth/RegisterController.register' }) }}
        {{ csrfField }}

        <div class="loginform">
          <a href="login">Need to login?</a>
          <div class="loginform_inputs">
            <div class="input_contain form-group"><i class="fa fa-user"></i>&nbsp;&nbsp;
              <input type="text" class="login" name="username" value="" id="username"
                      placeholder="Username" required autofocus>
            </div>
            <div class="separate"></div>
            <div class="input_contain form-group"><i class="fa fa-envelope-open fa-fw"></i>
              <input type="email" class="login" name="email" value="" id="email"
                      placeholder="Email address" required autofocus>
            </div>
            <div class="separate"></div>
            <div class="input_contain form-group"><i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;
              <input type="password" class="login" name="password" value="" id="password"
                      placeholder="Password" required autofocus>
            </div>
          </div>
          <div class="clearfix mar_top1"></div>
          <input type="submit" name="submit" value="Register" class="but_user">
        </div>

      {{ form.close() }}

    </div>
  </div>
<div class="one_half last">
  <div class="clearfix mar_top5"></div>
    <div class="container">

  </div>
</div>
{% endblock %}
