{% extends 'layout/puppet' %}

{% block content %}

<script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

        <div class="testimonials-4">
          <div class="clearfix mar_top6"></div>
          <div class="three_fourth">
            <h3>Tracto Exchange</br>TRC/BTC</h3>
          </div>

            <div class="three_fourth">
               <div class="clearfix mar_top2"></div>
               <div id="container" style="height: 500px; min-width: 310px; "></div>
               <script type="text/javascript">

                       // io refers to the above import
                       const io = ws('http://localhost:3333')
                       const client = io.channel('eth').connect(function(error, connected) {
                         console.log('Connected: ', connected)
                         console.log('Error: ', error)
                       })

                       const client2 = io.channel('market').connect(function(error, connected) {
                         console.log('Connected: ', connected)
                         console.log('Error: ', error)
                       })
                       client.on('message', function(message) {
                         console.log('Got message: ', message)
                       })
                       client.emit('message', 'Some market data...')

                       // now, process the seel signals
                       // client2.on('sell', (data) => {
                       //   console.log('Got sell data', data)
                       // })
                       //
                       // client.on('buy', (data) => {
                       //   console.log('Got buy data', data)
                       // })

                       Highcharts.setOptions({
                           global: {
                               useUTC: false
                           }
                       });

                       // import Highcharts from '../parts/Globals.js';
                       Highcharts.createElement('link', {
                          href: 'https://fonts.googleapis.com/css?family=Unica+One',
                          rel: 'stylesheet',
                          type: 'text/css'
                       }, null, document.getElementsByTagName('head')[0]);

                       Highcharts.theme = {
                        colors: ['#efaa06', '#ee5a41', '#f45b5b', '#efaa06', '#aaeeee', '#ff0066', '#efaa06',
                           '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
                        chart: {
                           backgroundColor: {
                              linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                              stops: [
                                 [0, '#2a2a2b'],
                                 [1, '#3e3e40']
                              ]
                           },
                           style: {
                              fontFamily: '\'Roboto Condensed\', sans-serif'
                           },
                           plotBorderColor: '#606063'
                        },
                        title: {
                           style: {
                              color: '#E0E0E3',
                              textTransform: 'uppercase',
                              fontSize: '18px'
                           }
                        },
                        subtitle: {
                           style: {
                              color: '#E0E0E3',
                              textTransform: 'uppercase'
                           }
                        },
                        xAxis: {
                           gridLineColor: '#707073',
                           labels: {
                              style: {
                                 color: '#E0E0E3',
                                 fontSize: '14px'

                              }
                           },
                           lineColor: '#707073',
                           minorGridLineColor: '#505053',
                           tickColor: '#707073',
                           title: {
                              style: {
                                 color: '#A0A0A3'

                              }
                           }
                        },
                        yAxis: {
                           gridLineColor: '#707073',
                           labels: {
                              style: {
                                 color: '#E0E0E3',
                                 fontSize: '14px'
                              }
                           },
                           lineColor: '#707073',
                           minorGridLineColor: '#505053',
                           tickColor: '#707073',
                           tickWidth: 1,
                           title: {
                              style: {
                                 color: '#A0A0A3'
                              }
                           }
                        },
                        tooltip: {
                           backgroundColor: 'rgba(0, 0, 0, 0.85)',
                           style: {
                              color: '#F0F0F0'
                           }
                        },
                        plotOptions: {
                           series: {
                              dataLabels: {
                                 color: '#B0B0B3'
                              },
                              marker: {
                                 lineColor: '#333'
                              }
                           },
                           boxplot: {
                              fillColor: '#505053'
                           },
                           candlestick: {
                              lineColor: 'white'
                           },
                           errorbar: {
                              color: 'white'
                           }
                        },
                        legend: {
                           itemStyle: {
                              color: '#E0E0E3'
                           },
                           itemHoverStyle: {
                              color: '#FFF'
                           },
                           itemHiddenStyle: {
                              color: '#606063'
                           }
                        },
                        credits: {
                           style: {
                              color: '#666'
                           }
                        },
                        labels: {
                           style: {
                              color: '#707073'
                           }
                        },

                        drilldown: {
                           activeAxisLabelStyle: {
                              color: '#F0F0F3'
                           },
                           activeDataLabelStyle: {
                              color: '#F0F0F3'
                           }
                        },

                        navigation: {
                           buttonOptions: {
                              symbolStroke: '#DDDDDD',
                              theme: {
                                 fill: '#505053'
                              }
                           }
                        },

                        // scroll charts
                        rangeSelector: {
                           buttonTheme: {
                              fill: '#505053',
                              stroke: '#000000',
                              style: {
                                 color: '#CCC'
                              },
                              states: {
                                 hover: {
                                    fill: '#707073',
                                    stroke: '#000000',
                                    style: {
                                       color: 'white'
                                    }
                                 },
                                 select: {
                                    fill: '#000003',
                                    stroke: '#000000',
                                    style: {
                                       color: 'white'
                                    }
                                 }
                              }
                           },
                           inputBoxBorderColor: '#505053',
                           inputStyle: {
                              backgroundColor: '#333',
                              color: 'silver'
                           },
                           labelStyle: {
                              color: 'silver'
                           }
                        },

                        navigator: {
                           handles: {
                              backgroundColor: '#666',
                              borderColor: '#AAA'
                           },
                           outlineColor: '#CCC',
                           maskFill: 'rgba(255,255,255,0.1)',
                           series: {
                              color: '#7798BF',
                              lineColor: '#A6C7ED'
                           },
                           xAxis: {
                              gridLineColor: '#505053'
                           }
                        },

                        scrollbar: {
                           barBackgroundColor: '#808083',
                           barBorderColor: '#808083',
                           buttonArrowColor: '#CCC',
                           buttonBackgroundColor: '#606063',
                           buttonBorderColor: '#606063',
                           rifleColor: '#FFF',
                           trackBackgroundColor: '#404043',
                           trackBorderColor: '#404043'
                        },

                        // special colors for some of the
                        legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
                        background2: '#505053',
                        dataLabelsColor: '#B0B0B3',
                        textColor: '#C0C0C0',
                        contrastTextColor: '#F0F0F3',
                        maskColor: 'rgba(255,255,255,0.3)'
                     };

                     Highcharts.setOptions(Highcharts.theme);

                       // Create the chart
                       Highcharts.stockChart('container', {
                           chart: {
                               events: {
                                   load: function () {

                                     // var series = this.series;
                                     // set up the updating of the chart each second
                                     var series = this.series[0];
                                     client.on('message', (message) => {
                                       console.log('Got message data:', message)
                                       var x = (new Date()).getTime(), // current time
                                           y = parseFloat(message.rate); //Math.round(Math.random() * 100);
                                       series.addPoint([x, y], true, true);
                                     })
                                     // set up the updating of the chart each second
                                     var series1 = this.series[1];
                                     client2.on('sell', (data) => {
                                       console.log('Got sell data:', data)
                                       var x = (new Date()).getTime(), // current time
                                           y = parseFloat(data.rate); //Math.round(Math.random() * 100);
                                       series1.addPoint([x, y], true, true);
                                     })

                                   }
                               }
                           },

                           rangeSelector: {
                               buttons: [{
                                   count: 1,
                                   type: 'minute',
                                   text: '1M'
                               }, {
                                   count: 5,
                                   type: 'minute',
                                   text: '5M'
                               }, {
                                   type: 'all',
                                   text: 'All'
                               }],
                               inputEnabled: false,
                               selected: 0
                           },

                           title: {
                               text: ''
                           },

                           exporting: {
                               enabled: false
                           },

                           yAxis: {
                               min: 1000,
                               max: 10000,
                               startOnTick: true,
                               endOnTick: true
                           },

                           series: [{
                               name: 'Ethereum',
                               data: (function () {
                                   // generate an array of random data
                                   var data1 = [],
                                       time = (new Date()).getTime(),
                                       i;

                                   for (i = -10; i <= 0; i += 1) {
                                       data1.push([
                                           time + i * 1000,
                                           2000 + Math.round(Math.random() * 4000)
                                       ]);
                                   }
                                   return data1;
                               }())
                           },
                           {
                               name: 'Bitcoin',
                               data: (function () {
                                   // generate an array of random data
                                   var data2 = [],
                                       time = (new Date()).getTime(),
                                       i;

                                   for (i = -10; i <= 0; i += 1) {
                                       data2.push([
                                           time + i * 1000,
                                           2000 + Math.round(Math.random() * 4000)
                                       ]);
                                   }
                                   return data2;
                               }())
                           }]
                       });
                     </script>
               <div class="clearfix mar_top6"></div>
               <div class="testimonials-4">
                 <input id="user_fee" value="0.00" type="hidden">
                 <input id="user_fee1" value="0.00" type="hidden">
                 <div class="one_half">
                   <div class="content">
                     <h3 class="section_label">
                       <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Buy {{acc_type}}</span>
                     </h3>
                     <div class="clear"></div>
                     <div class="dotted"></div>
                     <form id="buy_form" action="buy-sell.php" method="POST">
                       <div class="buyform">
                         <div class="spacer"></div>
                         <div class="calc dotted">
                           <div class="label">Available
                             <span class="sell_currency_label">USD</span>
                           </div>
                           <div class="value">
                             <span class="buy_currency_char">$</span>
                             <span id="buy_user_available">0</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="spacer"></div>
                         <div class="param">
                             <label for="buy_amount">Amount To Buy</label>
                           <input name="buy_amount" id="buy_amount" value="0" type="text">
                           <div class="qualify">{{acc_type}}</div>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top1"></div>
                         <div class="param">
                           <label for="buy_currency">Currency To Use</label>
                           <select id="buy_currency" name="currency">
                             <option value="aed">AED</option>
                             <option value="aud">AUD</option>
                             <option value="bgn">BGN</option>
                             <option value="cad">CAD</option>
                             <option value="chf">CHF</option>
                             <option value="cny">CNY</option>
                             <option value="czk">CZK</option>
                             <option value="dkk">DKK</option>
                             <option value="eur">EUR</option>
                             <option value="gbp">GBP</option>
                             <option value="hkd">HKD</option>
                             <option value="hrk">HRK</option>
                             <option value="huf">HUF</option>
                             <option value="ils">ILS</option>
                             <option value="inr">INR</option>
                             <option value="jpy">JPY</option>
                             <option value="mur">MUR</option>
                             <option value="mxn">MXN</option>
                             <option value="nok">NOK</option>
                             <option value="nzd">NZD</option>
                             <option value="pln">PLN</option>
                             <option value="ron">RON</option>
                             <option value="rub">RUB</option>
                             <option value="sek">SEK</option>
                             <option value="sgd">SGD</option>
                             <option value="thb">THB</option>
                             <option value="try">TRY</option>
                             <option selected="selected" value="usd">USD</option>
                             <option value="zar">ZAR</option>
                           </select>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <div class="param lessbottom">
                           <input class="checkbox" name="buy_market_price" id="buy_market_price" value="1" type="checkbox">
                           <label for="buy_market_price">Buy At Market Price&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=solution/articles/1000023402-what-are-market-price">
                               <i class="fa fa-question"></i>
                             </a>
                           </label>
                           <div class="clear"></div>
                         </div>
                         <div class="param lessbottom">
                           <!-- <input class="checkbox" name="buy_limit" id="buy_limit" value="1" checked="checked" type="checkbox"> -->
                           <!-- <label for="buy_limit">Limit Order&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                               <i class="fa fa-question"></i>
                             </a>
                           </label> -->
                           <div class="clear"></div>
                         </div>
                         <div class="param lessbottom">
                           <input class="checkbox" name="buy_stop" id="buy_stop" value="1" type="checkbox">
                           <label for="buy_stop">Stop Order&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101669-what-is-a-stop">
                               <i class="fa fa-question"></i>
                             </a>
                           </label>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <div id="buy_price_container" class="param">
                           <label for="buy_price">
                             <span id="buy_price_limit_label">Limit Price</span>
                             <span id="buy_price_market_label" style="display:none;">Price</span>
                           </label>
                           <input name="buy_price" id="buy_price" value="1,793.17" type="text">
                           <div class="qualify">
                             <span class="buy_currency_label">USD</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                           <div class="mar_top3"></div>
                         <div id="buy_stop_container" class="param" style="display:none;">
                           <label for="buy_stop_price">Stop Price</label>
                           <input name="buy_stop_price" id="buy_stop_price" value="0.00" type="text">
                           <div class="qualify">
                             <span class="buy_currency_label">USD</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="spacer"></div>
                         <div class="calc">
                           <div class="label">Subtotal</div>
                           <div class="value">
                             <span class="buy_currency_char">$</span>
                             <span id="buy_subtotal">0.00</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="calc">
                           <div class="label">Fee&nbsp;
                             <a title="View fee schedule" href="fee-schedule.php" target="_blank">
                               <i class="fa fa-question"></i>
                             </a>
                           </div>
                           <div class="value">
                             <span id="buy_user_fee">0.00</span>&nbsp;%</div>
                           <div class="clear"></div>
                         </div>
                         <div class="dotted"></div>
                         <div class="mar_top2"></div>
                         <div class="calc bigger">
                           <div class="label">
                             <span id="buy_total_approx_label">Approx.
                               <span class="buy_currency_label">USD</span>
                               to spend</span>
                             <span id="buy_total_label" style="display:none;">{{acc_type}} to Receive</span>
                           </div>
                           <div class="value">
                             <span class="buy_currency_char">$</span>
                             <span id="buy_total">0.00</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <input name="buy" value="1" type="hidden">
                         <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
                         <input name="submit" value="Buy {{acc_type}}" class="but_user" type="submit">
                       </div>
                     </form>
                   </div>
                 </div>
                 <div class="one_half last">
                   <div class="content">
                     <h3 class="section_label">
                       <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Sell {{acc_type}}</span>
                     </h3>
                     <div class="clear"></div>
                     <div class="dotted"></div>
                     <form id="sell_form" action="buy-sell.php" method="POST">
                       <div class="buyform">
                         <div class="spacer"></div>
                         <div class="calc dotted">
                           <div class="label">Available {{acc_type}}</div>
                           <div class="value">
                             <span id="sell_user_available">0</span>
                             {{acc_type}}</div>
                           <div class="clear"></div>
                         </div>
                         <div class="spacer"></div>
                         <div class="param">
                           <label for="sell_amount">Amount To Sell</label>
                           <input name="sell_amount" id="sell_amount" value="0" type="text">
                           <div class="qualify">{{acc_type}}</div>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top1"></div>
                         <div class="param">
                           <label for="sell_currency">Currency To Use</label>
                           <select id="sell_currency" name="currency">
                             <option value="aed">AED</option>
                             <option value="aud">AUD</option>
                             <option value="bgn">BGN</option>
                             <option value="cad">CAD</option>
                             <option value="chf">CHF</option>
                             <option value="cny">CNY</option>
                             <option value="czk">CZK</option>
                             <option value="dkk">DKK</option>
                             <option value="eur">EUR</option>
                             <option value="gbp">GBP</option>
                             <option value="hkd">HKD</option>
                             <option value="hrk">HRK</option>
                             <option value="huf">HUF</option>
                             <option value="ils">ILS</option>
                             <option value="inr">INR</option>
                             <option value="jpy">JPY</option>
                             <option value="mur">MUR</option>
                             <option value="mxn">MXN</option>
                             <option value="nok">NOK</option>
                             <option value="nzd">NZD</option>
                             <option value="pln">PLN</option>
                             <option value="ron">RON</option>
                             <option value="rub">RUB</option>
                             <option value="sek">SEK</option>
                             <option value="sgd">SGD</option>
                             <option value="thb">THB</option>
                             <option value="try">TRY</option>
                             <option selected="selected" value="usd">USD</option>
                             <option value="zar">ZAR</option>
                           </select>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <div class="param lessbottom">
                           <input class="checkbox" name="sell_market_price" id="sell_market_price" value="1" type="checkbox">
                           <label for="sell_market_price">Sell At Market Price&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=solution/articles/1000023402-what-are-market-price">
                               <i class="fa fa-question"></i>
                             </a>
                           </label>
                           <div class="clear"></div>
                         </div>
                         <div class="param lessbottom">
                           <!-- <input class="checkbox" name="sell_limit" id="sell_limit" value="1" checked="checked" type="checkbox">
                           <label for="sell_stop">Limit Order&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                               <i class="fa fa-question"></i>
                             </a>
                           </label> -->
                           <div class="clear"></div>
                         </div>
                         <div class="param lessbottom">
                           <input class="checkbox" name="sell_stop" id="sell_stop" value="1" type="checkbox">
                           <label for="sell_stop">Stop Order&nbsp;
                             <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101669-what-is-a-stop">
                               <i class="fa fa-question"></i>
                             </a>
                           </label>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <div id="sell_price_container" class="param">
                           <label for="sell_price">
                             <span id="sell_price_limit_label">Limit Price</span>
                             <span id="sell_price_market_label" style="display:none;">Price</span>
                           </label>
                           <input name="sell_price" id="sell_price" value="1,752.89" type="text">
                           <div class="qualify">
                             <span class="sell_currency_label">USD</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top3"></div>
                         <div id="sell_stop_container" class="param" style="display:none;">
                           <label for="sell_stop_price">Stop Price</label>
                           <input name="sell_stop_price" id="sell_stop_price" value="0.00" type="text">
                           <div class="qualify">
                             <span class="sell_currency_label">USD</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="spacer"></div>
                         <div class="calc">
                           <div class="label">Subtotal</div>
                           <div class="value">
                             <span class="sell_currency_char">$</span>
                             <span id="sell_subtotal">0.00</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="calc">
                           <div class="label">Fee&nbsp;
                             <a title="View fee schedule" href="fee-schedule.php" target="_blank">
                               <i class="fa fa-question"></i>
                             </a>
                           </div>
                           <div class="value">
                             <span id="sell_user_fee">0.00</span>&nbsp;%</div>
                           <div class="clear"></div>
                         </div>
                         <div class="dotted"></div>
                         <div class="mar_top2"></div>
                         <div class="calc bigger">
                           <div class="label">
                             <span id="sell_total_approx_label">Approx
                               <span class="sell_currency_label">USD</span>
                               to receive</span>
                             <span id="sell_total_label" style="display:none;">
                               <span class="sell_currency_label">USD</span>
                               to receive</span>
                           </div>
                           <div class="value">
                             <span class="sell_currency_char">$</span>
                             <span id="sell_total">0.00</span>
                           </div>
                           <div class="clear"></div>
                         </div>
                         <div class="mar_top2"></div>
                         <input name="sell" value="1" type="hidden">
                         <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
                         <input name="submit" value="Sell {{acc_type}}" class="but_user" type="submit">
                       </div>
                     </form>
                   </div>
                 </div>
               </div>
               <div class="mar_top6"></div>
               <div class="clear"></div>
             </div>
              <div class="one_fourth last">
                <h3>Tracto Exchange</br>TRC/BTC</h3>
                <div class="content"></div>
              </div>
            </div>
          <div class="clearfix mar_top20"></div>
        </div>





{% endblock %}
