{% extends 'layout/master' %}

{% block content %}

<div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Login To Your Account</h3>
    </div>

  </div>
</div>
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>

  <div class="container">
    <!--<h2>Login</h2>-->
    <form class="form-horizontal" role="form" method="POST" action="/login">
      {{ csrfField }}
      <div class="loginform"> 
        <a href="">Forgot your login information?</a>
        <div class="loginform_inputs">
          <div class="input_contain form-group"> <i class="fa fa-user"></i>
            <input type="email" class="login" name="email" value="" id="email" required autofocus>
          </div>
          <div class="separate"></div>
          <div class="input_contain last form-group"> <i class="fa fa-lock"></i>
            <input type="password" class="login" name="password" value="" required>
          </div>
        </div>
        <br>
        <input type="submit" name="submit" value="Login" class="but_user">
      </div>
    </form>
    <a class="forgot" href="/register">Don't have an account? Register Here.</a> </div>
  <div class="clearfix mar_top8"></div>
</div>
{% endblock %}
