{% extends 'layout/puppet' %}
{% block head %}
<script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
{#
<script src="/js/charts/exporting.js"></script> #}
<link rel="stylesheet" href="/css/exchange.css" type="text/css">
{% endblock %}

{% block content %}

  {% verbatim %}
  <div id="app">
    <div class="testimonials-4">
      <div class="clearfix mar_top3"></div>
      <div class="one_halfpx">
        <div class="testimonials-4">
          <div class="one_full">
            <div class="contentbuy">
              <h3 class="section_label">
                   <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Add OrderBook</span>
                 </h3>
              <div class="clear"></div>
              <div class="dotted"></div>
              <div class="alert alert-success" role="alert" v-show="message">{{ message }}</div>
              <div class="alert alert-danger" role="alert" v-show="error">{{ error }}</div>
              <form class="form-horizontal" method="post" v-on:submit.prevent="addOrderBook">
                <div class="buyform">
                  <div class="spacer"></div>
                  <div class="spacer"></div>
                  <div class="mar_top1"></div>
                  <div class="param">
                    <label for="buy_currency">Asset</label>
                    <select name="asset" class="form-control" v-model="newOrder.asset">
                         <option value="" selected>Select one...</option>
                         <option value="BTC">BTC</option>
                         <option value="ETH">ETH</option>
                         <option value="TRC">TRC</option>
                       </select>
                    <div class="clear"></div>
                  </div>
                  <div class="spacer"></div>
                  <div class="param">
                    <label for="buy_currency">To Asset</label>
                    <select name="asset" class="form-control" v-model="newOrder.to_asset">
                         <option value="" selected>Select one...</option>
                         <option value="BTC">BTC</option>
                         <option value="ETH">ETH</option>
                         <option value="TRC">TRC</option>
                       </select>
                    <div class="clear"></div>
                  </div>
                  <div class="spacer"></div>
                  <div class="param">
                    <label for="buy_amount">Amount</label>
                    <input type="text" name="amount" placeholder="Enter amount" v-model="newOrder.amount">
                    <div class="clear"></div>
                  </div>
                  <div class="spacer"></div>
                  <div class="param">
                    <label for="buy_amount">Price</label>
                    <input type="text" name="price" v-model="newOrder.price">
                    <div class="clear"></div>
                  </div>
                  <div class="spacer"></div>
                  <div class="param">
                    <label for="buy_amount">Type</label><br></br>
                    <div class="radio">
                      <label>
                             <input type="radio" name="type" value="BID" v-model="newOrder.type" checked>Bid&nbsp;&nbsp;&nbsp;
                           </label>
                      <label>
                             <input type="radio" name="type" value="ASK" v-model="newOrder.type">Ask
                           </label>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="mar_top2"></div>

                  <div class="param lessbottom">
                    <div class="clear"></div>
                  </div>
                  <div id="buy_stop_container" class="param" style="display:none;">
                    <label for="buy_stop_price">Stop Price</label>
                    <input name="buy_stop_price" id="buy_stop_price" value="0.00" type="text">
                    <div class="qualify">
                      <span class="buy_currency_label">USD</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="spacer"></div>

                  <div class="dotted"></div>
                  <div class="mar_top2"></div>

                  <div class="mar_top2"></div>
                  <input name="submit" value="Add Order" class="but_user" type="submit">
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix mar_top4"></div>

        </div>
        <div class="mar_top6"></div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="one_halfpx lastpx">
      <div class="one_full">
        <h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Results</h3>
        <div class="table-style">
          <table class="table-list02 trades" id="bids_list">
            <tbody>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Asset</th>
                <th>To Asset</th>
                <th>Amount</th>
                <th>Price</th>
              </tr>

              <tr v-for="o in orders">
                <td>{{ o.id }}</td>
                <td>{{ o.type }}</td>
                <td>{{ o.asset }}</td>
                <td>{{ o.to_asset }}</td>
                <td>{{ o.amount }}</td>
                <td>{{ o.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mar_top2"></div>

    </div>
    <div class="clearfix mar_top20"></div>
  </div>
  {% endverbatim %}

{% endblock %}

{% block docready %}

<script type="text/javascript">
  const URL = '/api/v1/orderbook'
  new Vue({
    el: '#app',
    data: {
      error: null,
      message: null,
      orders: null,
      order_added: false,
      newOrder: {
        asset: '',
        to_asset: '',
        amount: '',
        price: '',
        type: ''
      },
      items: [{
          name: 'foo',
          email: 'foo@gmail.com'
        },
        {
          name: 'bar',
          email: 'bar@gmail.com'
        }
      ],
    },
    created: function() {
      this.fetchOrderBook()
    },
    computed: {},
    methods: {
      clearForm: function() {
        this.newOrder.asset = '',
          this.newOrder.to_asset = '',
          this.newOrder.price = 0,
          this.newOrder.amount = 0
      },
      fetchOrderBook: function() {
        const xhr = new XMLHttpRequest()
        const self = this
        xhr.open('GET', URL)
        xhr.onload = function() {
          self.orders = JSON.parse(xhr.responseText)
          console.log('response:', self.orders)
        }
        xhr.send()
      },
      addOrderBook: function() {
        this.order_added = true
        console.log('Adding new order: {',
          'asset=', this.newOrder.asset,
          ', to_asset=', this.newOrder.to_asset,
          ', amount=', this.newOrder.amount,
          ', price=', this.newOrder.price,
          '}')

        const xhr = new XMLHttpRequest()
        xhr.open('POST', URL, true)
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.onload = function() {
          console.log(xhr.responseText)
        }
        xhr.send(JSON.stringify(this.newOrder))
        this.clearForm()
        this.message = 'Order added'
        this.clearMessage()
        this.fetchOrderBook()
      },
      clearMessage: _.debounce(function() {
        this.message = ''
        this.order_added = false
      }, 3000)
    }
  })
</script>

{% endblock %}
