<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js js" lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gibrex - The World Trusted Digital Exchange</title>
<base href="/">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="publisher" content="Gibrex">

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

<!-- this styles only adds some repairs on idevices  -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link rel="stylesheet" href="/css/css.css" type="text/css">

<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- ######### CSS STYLES ######### -->
<link rel="stylesheet" href="/css/logged_style.css" type="text/css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
<!-- responsive devices styles -->
<link rel="stylesheet" media="screen" href="/css/responsive-leyouts.css" type="text/css">
<link rel="stylesheet" href="/css/colour.css">

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

</head>

<body>
<div class="site_wrapper">

  <!-- HEADER -->
  <header id="header">

    <!-- Top header bar -->
    <div id="topHeader">
      <div class="wrapper">
        <div class="top_contact_info">
          <div class="container">
            <ul class="tci_list_left">
              <li><a href="/coming_soon">Support Centre</a>&nbsp;&nbsp;<i class="fa fa-cog fa-spin"></i></li>
              <!-- <li>|</li> -->
              <li><a href="/coming_soon">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- end top contact info -->

      </div>
    </div>
    <div id="trueHeader">
      <div class="wrapper">
        <div class="container">

          <!-- Logo -->
          <div class="one_fourth"><a href="/" id="logo"></a></div>

          <!-- Menu -->
          <div class="three_fourth last">
            <nav id="access" class="access" role="navigation">
              <div id="menu" class="menu">
                 <div class="clearfix mar_top3"></div>
 				 <h4><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Simple Guaranteed Pricing. Any Volume, Worldwide.</h4>
              </div>
            </nav>
            <!-- end nav menu -->

          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <div class="container_full">
    <div class="mobilebanner">
      <div class="container">
          <h1>THE WORLD TRUSTED DIGITAL EXCHANGE.</h1>
          <h1>A CROSS - PLATFORM TRADING.</h1>
          <div class="mar_top5"></div>
          <div class="one_thirdpx">
          {{ form.open({ action: 'PreviewController.invited' }) }}
            {{ csrfField }}
            <div class="buyform02">
              <div class="param02">
                <input type="text" name="code" value="" id="code" placeholder="Insert Your Invitation Code">
                <div class="clear"></div>
              </div>
            </div>
            <!--
            <a href="/auth/register" class="button_slider">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Register
            </a>
            -->
            <div class="mar_top2"></div>
            <button type="submit" class="but_user button">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Register
            </button>

          {{ form.close() }}
          </div>


          <div class="clear"></div>
          <div class="mar_top2"></div>
            <div class="one_half">
	            <div class="text02">
              </div>
              <div class="clear"></div>
            </div>
          </div>
        <div class="clear"></div>
        <!-- div class="royaltimer-container"></div -->
      </div>
      <!-- <div class="ticker">
        <div class="contain">
          <div class="scroll">
             <marquee scrolldelay="50" onmouseover="this.stop();" onmouseleave="this.start();">
             {% if data %}
               {% for k,v in data %}
               <a class=" selected" >
                 <span class="abbr">{{ k }}</span> <span class="">{{ v.symbol }} {{ v.buy }}</span>
               </a> &middot;
               {% endfor %}
             {% endif %}
            </marquee>
          </div>
        </div>
        <div class="bg"></div>
      </div> -->
    </div>
    <!-- <video poster="#" id="bgvid" playsinline autoplay muted loop>
      <source src="/preview/videos/London001.webm" type="video/webm">
      <source src="/preview/videos/London001.mp4" type="video/mp4">
    </video> -->
  </div>
  <div class="clearfix"></div>
  <div class="fresh_projects03 global_stats">
      <div class="clearfix mar_top4"></div>
    <div class="container">
    <div class="three_fourth">
      <h2>Your most convenient way to<br>trade Cryptocurrency</h2>
      <div class="mar_top0"></div>
      <div class="text">
        <h4>
          Gibrex is a trusted platform for trading Bitcoins. The exchange provides fast order execution, low spread, and access to high liquidity orderbook for top currency pairs on the market. Cross-platform trading is realised via website, mobile app, and several API solutions. Safety of assets and data are backed by high security standards and advanced legal compliance. Stay tune!
        </h4>
        <div class="clearfix mar_top20"></div>
        <!-- {{ form.open({ action: 'PreviewController.invited' }) }}
          {{ csrfField }}
          <div class="field">
            {{ form.label('code', 'Invitation Code') }}
            {{ form.text('code') }}
          </div>
          <div class="but_user">
            {{ form.submit('Register') }}
          </div>

        {{ form.close() }} -->
        <div class="clearfix mar_top21"></div>
       <div class="clearfix mar_top21"></div>
      </div>
     </div>
    </div>
  </div>
  <!-- end fresh projects -->

  <!-- Footer
======================================= -->

<div class="footer">
  <div class="arrow_02"></div>
  <div class="clearfix mar_top3"></div>
    <div class="container">
      <div class="one_fourth">
        <div class="footer_logo"><img src="/images/gibrex02.png" alt=""></div>
        <div class="one_half">
        <!--
        <ul class="contact_address">
          <li><i class="fa  fa-clock-o"></i>&nbsp;&nbsp;&nbsp;Server time - 2017-04-14 19:53 UTC</li>
          <li><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Users Currently Online - 16,684</li>
        </ul>
        -->
        </div>
      </div>
      <!-- <div class="one_half">
        <div class="one_fourth">
          <h3><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Navigation</h3>
          <ul class="list">
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Home</a></li>
            <li><i class="fa fa-angle-right"></i><a href="/exchange">&nbsp;&nbsp;Exchange</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Margin Trading</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Lending</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Fees</a></li>
          </ul>
        </div>
        <div class="one_fourth">
          <h3><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Gibrex</h3>
          <ul class="list">
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;About Gibrex</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;News Feed</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Security</a></li>
          </ul>
        </div>
        <div class="one_fourth last">
          <h3><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Support</h3>
          <ul class="list">
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Support Centre</a>&nbsp;&nbsp;<i class="fa fa-cog fa-spin"></i></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Resources</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;FAQ</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">&nbsp;&nbsp;Contact Us</a></li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="clearfix mar_top5"></div>
  </div>
  <div class="copyright_info">
    <div class="container">
      <div class="one_half">
        <ul class="tci_list_left">
          <li><b>Copyright © All Right Reserved 2017 Gibrex.com - The World Trusted Digital Exchange.</b></li>
        </ul>
      </div>
      <!-- <div class="one_half last">
        <ul class="footer_social_links">
          <li><a href="http://158.69.170.180/#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://158.69.170.180/#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>-->
    </div>
  </div>
  <!-- end copyright info -->

  <a href="#" class="scrollup" style="display: none;">Scroll</a><!-- end scroll to top of the page-->

</div>

<!-- main js
<script type="text/javascript" src="js/ops.js"></script>  -->


</body>
</html>
