{% extends 'layout/puppet' %}


{% block head %}
  <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
  <script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/ws.js"></script>
  <script src="/js/charts/highstock.js"></script>
  {# <script src="/js/charts/exporting.js"></script> #}
  <link rel="stylesheet" href="/css/exchange.css" type="text/css">
{% endblock %}

{% block content %}

  {% if type == 'BTC' %}
  <script type="text/javascript" src="/graphs/bitcoin.js"></script>
  {% elseif type == 'ETH' %}
  <script type="text/javascript" src="/graphs/ethereum.js"></script>
  {% endif %}

  <div class="testimonials-4">
    <div class="clearfix mar_top3"></div>
      <div class="three_fourthpx">
          {% if old('error') %}
          <div class="message-box-wrap">
            <div class="error" role="alert" id="div4">
              <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ old('error') }}
            </div>
          </div>
          {% endif %}

          {% if old('success') %}
          <div class="message-box-wrap">
            <div class="success" role="alert" id="div4">
              <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;{{ old('success') }}
            </div>
          </div>
          {% endif %}

        <div class="one_halfpx">
          <div id="titleheader02">
            <div class="left">
                <h1>{{ name }} Exchange&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i>&nbsp;&nbsp;{{ type }} / USD</h1>
            </div>
          </div>
        </div>
        <div class="clearfix mar_top2"></div>

          <div id="container" style="height: 500px; margin-bottom: 70px; in-width: 310px; max-width: 100%; "></div>
          <script type="text/javascript">
            // io refers to the above import
            const io = ws('')
            const client = io.channel('eth').connect(function(error, connected) {
              console.log('Connected: ', connected)
              console.log('Error: ', error)
            })

            const client2 = io.channel('market').connect(function(error, connected) {
              console.log('Connected: ', connected)
              console.log('Error: ', error)
            })
            client.on('message', function(message) {
              // console.log('Got message: ', message)
            })
            // client.emit('message', 'Some market data...')

            // now, process the seel signals
            // client2.on('sell', (data) => {
            //   console.log('Got sell data', data)
            // })
            //
            // client.on('buy', (data) => {
            //   console.log('Got buy data', data)
            // })
        </script>
        <div class="clear"></div>

         <div class="testimonials-4">
           <input id="user_fee" value="0.00" type="hidden">
           <input id="user_fee1" value="0.00" type="hidden">
           <div class="one_halfpx">
             <div class="contentbuy">
               <h3 class="section_label">
                 <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Buy {{ type }}</span>
               </h3>
               <div class="clear"></div>
               <div class="dotted"></div>
               <form id="buy_form" action="/exchange/buy/{{type}}" method="POST">
                   {{ csrfField }}
                 <div class="buyform">
                   <div class="spacer"></div>
                   <div class="calc dotted">
                     <div class="label">Available
                       <span class="sell_currency_label changeCurrency">{{defaultBuyCurrency}}</span>
                     </div>
                     <div class="value">
                       <span class="buy_currency_char changeCurrency">{{defaultBuyCurrency}}</span>
                       <span id="buy_user_available">{{curBalance1}}</span>
                       <input type="hidden" id="buy_available" name="buy_available" value="{{curBalance1}}">
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="spacer"></div>
                   <div class="param">
                       <label for="buy_amount">Amount To Buy</label>
                     <input name="buy_amount" id="buy_amount" value="0" type="text">
                     <div class="qualify">{{ type }}</div>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top1"></div>

                   <div class="param">
                     <label for="buy_currency">Currency To Use</label>
                     <select id="buy_currency" name="buy_currency">
                         {% if type != 'BTC' %}
                            <option value="BTC">BTC</option>
                         {% endif %}

                         {% if type != 'ETH' %}
                            <option value="ETH">ETH</option>
                         {% endif %}
                     </select>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top2"></div>

                   <!-- <div class="param lessbottom">
                     <input class="checkbox" name="buy_market_price" id="buy_market_price" value="1" type="checkbox" checked disabled>
                     <label for="buy_market_price">Buy At Market Price&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="#">
                         <i class="fa fa-question"></i>
                       </a>
                     </label>
                     <div class="clear"></div>
                   </div> -->
                  <div class="param lessbottom">
                     <!-- <input class="checkbox" name="buy_limit" id="buy_limit" value="1" checked="checked" type="checkbox"> -->
                     <!-- <label for="buy_limit">Limit Order&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                         <i class="fa fa-question"></i>
                       </a>
                     </label> -->
                    <div class="clear"></div>
                  </div>
                   <!-- <div class="param lessbottom">
                     <input class="checkbox" name="buy_stop" id="buy_stop" value="1" type="checkbox">
                     <label for="buy_stop">Stop Order&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="#">
                         <i class="fa fa-question"></i>
                       </a>
                     </label>
                     <div class="clear"></div>
                   </div> -->

                   <!-- <div class="mar_top2"></div>
                   <div id="buy_price_container" class="param">
                     <label for="buy_price">
                       <span id="buy_price_limit_label">Limit Price</span>
                       <span id="buy_price_market_label" style="display:none;">Price</span>
                     </label>

                     <input name="buy_price" id="buy_price" value="{{coinInBtc}}" type="text" readonly>
                     <input name="buy_price" id="buy_price" value="{{price}}" type="text" readonly>
                     <div class="qualify">
                       <span class="buy_currency_label">USD</span>
                       <span class="buy_currency_label changeCurrency">{{defaultBuyCurrency}}</span>
                     </div>
                     <div class="clear"></div>
                   </div> -->
                     <!-- <div class="mar_top3"></div> -->
                   <div id="buy_stop_container" class="param" style="display:none;">
                     <label for="buy_stop_price">Stop Price</label>
                     <input name="buy_stop_price" id="buy_stop_price" value="0.00" type="text">
                     <div class="qualify">
                       <span class="buy_currency_label">USD</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="spacer"></div>
                   <div class="calc">
                     <div class="label">Subtotal</div>
                     <div class="value">
                       <span class="buy_currency_char changeCurrency">{{defaultBuyCurrency}}</span>
                       <span id="buy_subtotal">0.00</span>
                     </div>

                     <div class="clear"></div>
                   </div>
                   <div class="calc">
                     <div class="label">Fee&nbsp;
                       <a title="View fee schedule" href="#" target="_blank">
                         <i class="fa fa-question"></i>
                       </a>
                     </div>
                     <div class="value">
                       <span id="buy_user_fee">0.00</span>&nbsp;%</div>
                     <div class="clear"></div>
                   </div>
                   <div class="dotted"></div>
                   <div class="mar_top2"></div>
                   <div class="calc bigger">
                     <div class="label">
                       <span id="buy_total_approx_label">Approx.
                         <span class="buy_currency_label changeCurrency">{{defaultBuyCurrency}}</span>
                         to spend</span>
                       <span id="buy_total_label" style="display:none;">{{ type }} to Receive</span>
                     </div>
                     <div class="value">
                       <span class="buy_currency_char changeCurrency">{{defaultBuyCurrency}}</span>
                       <span id="buy_total">0.00</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top2"></div>
                   <input name="buy" value="1" type="hidden">
                   <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
                   {% if currentUser %}
                   <input name="submit" value="Buy {{ type }}" class="but_user" type="submit">
                   {% else %}
                   <a class="but_user" href="/auth/login">Login to Trade</a>
                   {% endif %}
                   <input type="hidden" name="trcbtc" value="{{coinInBtc}}">
                   <input type="hidden" name="trceth" value="{{coinInEth}}">
                 </div>
               </form>
             </div>
           </div>
           <div class="one_halfpx lastpx">
             <div class="contentsell">
               <h3 class="section_label">
                 <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Sell {{ type }}</span>
               </h3>
               <div class="clear"></div>
               <div class="dotted"></div>
               <form id="sell_form" action="/exchange/sell/{{type}}" method="POST">
                 {{ csrfField }}
                 <input type="hidden" name="type" value="{{type}}">
                 <div class="buyform">
                   <div class="spacer"></div>
                   <div class="calc dotted">
                     <div class="label">Available {{ type }}</div>
                     <div class="value">
                       <span id="sell_user_available">{{ balance }}</span>
                       {{ type }}</div>
                     <div class="clear"></div>
                     <input type="hidden" id="sell_available" value="{{ balance }}">
                   </div>
                   <div class="spacer"></div>
                   <div class="param">
                     <label for="sell_amount">Amount To Sell</label>
                     <input name="sell_amount" id="sell_amount" value="0" type="text">
                     <div class="qualify">{{ type }}</div>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top1"></div>
                   <div class="param">
                     <label for="sell_currency">Currency To Use </label>
                     <select id="sell_currency" name="sell_currency">
                        {% if type != 'BTC' %}
                           <option value="BTC">BTC</option>
                        {% endif %}

                        {% if type != 'ETH' %}
                           <option value="ETH">ETH</option>
                        {% endif %}
                     </select>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top2"></div>
                   <!--
                   <div class="param lessbottom">
                     <input class="checkbox" name="sell_market_price" id="sell_market_price" value="1" type="checkbox" checked="checked" disabled="Disable">
                     <label for="sell_market_price">Sell At Market Price&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="#">
                         <i class="fa fa-question"></i>
                       </a>
                     </label>
                     <div class="clear"></div>
                   </div>
                   <div class="param lessbottom">
                     <input class="checkbox" name="sell_limit" id="sell_limit" value="1" checked="checked" type="checkbox">
                     <label for="sell_stop">Limit Order&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                         <i class="fa fa-question"></i>
                       </a>
                     </label>
                   </div>
                   <div class="param lessbottom">
                     <input class="checkbox" name="sell_stop" id="sell_stop" value="1" type="checkbox">
                     <label for="sell_stop">Stop Order&nbsp;
                       <a target="_blank" title="Click for info on how this works." href="#">
                         <i class="fa fa-question"></i>
                       </a>
                     </label>
                     <div class="clear"></div>
                   </div>
                   -->
                   <!--
                   <div class="mar_top2"></div>
                   <div id="sell_price_container" class="param">
                     <label for="sell_price">
                       <span id="sell_price_limit_label">Limit Price</span>
                       <span id="sell_price_market_label" style="display:none;">Price</span>
                     </label>
                     <input name="sell_price" id="sell_price" value="{{price}}" type="text" readonly>
                     <div class="qualify">
                       <span class="sell_currency_label">USD</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   -->
                   <!-- <div class="mar_top3"></div> -->
                   <input name="sell_price" id="sell_price" value="{{price}}" type="hidden" readonly>
                   <div id="sell_stop_container" class="param" style="display:none;">
                     <label for="sell_stop_price">Stop Price</label>
                     <input name="sell_stop_price" id="sell_stop_price" value="0.00" type="text">
                     <div class="qualify">
                       <span class="sell_currency_label">USD</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="spacer"></div>
                   <div class="calc">
                     <div class="label">Subtotal</div>
                     <div class="value">
                       <span class="sell_currency_char">$</span>
                       <span id="sell_subtotal">0.00</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="calc">
                     <div class="label">Fee&nbsp;
                       <a title="View fee schedule" href="#" target="_blank">
                         <i class="fa fa-question"></i>
                       </a>
                     </div>
                     <div class="value">
                       <span id="sell_user_fee">{{ fee }}</span>&nbsp;%</div>
                     <div class="clear"></div>
                   </div>
                   <div class="dotted"></div>
                   <div class="mar_top2"></div>
                   <div class="calc bigger">
                     <div class="label">
                       <span id="sell_total_approx_label">Approx
                         <span class="sell_currency_label">USD</span>
                         to receive</span>
                       <span id="sell_total_label" style="display:none;">
                         <span class="sell_currency_label">USD</span>
                         to receive</span>
                     </div>
                     <div class="value">
                       <span class="sell_currency_char">$</span>
                       <span id="sell_total">0.00</span>
                     </div>
                     <div class="clear"></div>
                   </div>
                   <div class="mar_top2"></div>
                   <input name="sell" value="1" type="hidden">
                   <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
                   {% if currentUser %}
                   <input name="submit" value="Sell {{ type }}" class="but_usersell" type="submit">
                   {% else %}
                   <a class="but_user" href="/auth/login">Login to Trade</a>
                   {% endif %}
                 </div>
               </form>
             </div>
           </div>

           <div class="clearfix mar_top4"></div>

           <div id="container_mdepth" style="min-width: 310px; height: 00px; margin: 0 auto"></div>
           <script type="text/javascript" src="/graphs/mdepth.js"></script>

           <div class="clearfix mar_top20"></div>
           <div class="clearfix mar_top20"></div>
           <div class="clearfix mar_top20"></div>
           <div class="clearfix mar_top20"></div>

           <div id="filters_area">

            <!-- Buy Orders -->
             <div class="one_halfpx">
               <h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Buy Orders</h3>
               <div class="table-style">
                 <table class="table-list02 trades" id="bids_list">
                   <tbody>
                     <tr>
                       <th>Price</th>
                       <th>{{ type }}</th>
                       <th>Asset</th>
                       <th>SUM ( Asset )</th>
                     </tr>

                     {% for showbid in showbids %}
                     <tr class="bid_tr" id="bid_35539796">
                       <td style="">$
                           <!-- {% if showbid.to_asset == 'BTC' %}
                            Btc
                           {% endif %}
                           {% if showbid.to_asset == 'ETH' %}
                            Eth
                           {% endif %} -->
                           <span class="order_price">{{showbid.price}}</span></td>
                       <td style=""><span class="order_amount">{{showbid.amount}}</span></td>
                       <td style="">

                        <span class="order_value">
                            {% if showbid.to_asset == 'ETH' %}
                                Btc {{coinInBtc | round(8, 'floor')}}
                            {% endif %}
                            {% if showbid.to_asset == 'BTC' %}
                                Eth {{coinInEth | round(8, 'floor')}}
                            {% endif %}

                        </span></td>
                       <td style="">
                           <span class="order_amount">

                               {% if showbid.to_asset == 'ETH' %}
                                Btc {{ (coinInBtc * showbid.amount) | round(8, 'floor') }}
                               {% endif %}

                               {% if showbid.to_asset == 'BTC' %}
                                Eth {{ (coinInEth * showbid.amount) | round(8, 'floor') }}
                               {% endif %}

                           </span></td>
                     </tr>
                     {% endfor %}
                     <tr id="no_bids" style="display:none;">
                       <td colspan="4">No bids to show.</td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>

             <!-- Sell Orders -->
             <div class="one_halfpx lastpx">
               <h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Sell Orders</h3>
               <div class="table-style">
                 <table class="table-list02 trades" id="asks_list">
                   <tbody>
                     <tr>
                       <th>Price</th>
                       <th>{{ type }}</th>
                       <th>Asset</th>
                       <th>SUM ( Asset )</th>
                     </tr>

                     <tr id="no_asks" style="display:none;">
                       <td colspan="4">No asks to show.</td>
                     </tr>

                     {% for showask in showasks %}
                     <tr class="ask_tr" id="ask_35539346">
                       <td style="">$<span class="order_price">{{showask.price}}</span></td>
                       <td style=""><span class="order_amount">{{showask.amount}}</span></td>
                       <td style="">
                            {% if showask.to_asset == 'BTC' %}

                            <span class="order_value">
                              Btc {{ coinInBtc | round(8, 'floor') }}
                            </span>
                            {% endif %}

                            {% if showask.to_asset == 'ETH' %}
                            <span class="order_value">
                              Eth {{ coinInEth | round(8, 'floor') }}
                            </span>
                            {% endif %}
                        </td>
                       <td style="">

                           <span class="order_amount">
                               {% if showask.to_asset == 'BTC' %}
                                Btc {{ (coinInBtc * showask.amount) | round(8, 'floor') }}
                               {% endif %}

                               {% if showask.to_asset == 'ETH' %}
                                Eth {{ (coinInEth * showask.amount) | round(8, 'floor') }}
                               {% endif %}
                           </span>
                       </td>
                     </tr>
                     {% endfor %}

                   </tbody>
                 </table>
               </div>
               <div class="clear"></div>
             </div>
           </div>
         </div>
         <div class="mar_top6"></div>
         <div class="clear"></div>
       </div>
       </div>

      <div class="one_fourthpx lastpx">
          <div class="one_full">
          <table class="table-list03 trades03">
            <thead>
              <tr>
                <th>Last Price</th>
                <th>1h</th>
                <th>24h</th>
                <th>24h Volume</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="price-red"><i id="up_or_down1" class="fa fa-caret-down price-red"></i>&nbsp;&nbsp;$&nbsp;2602.64</td>
                <td style=""><i id="up_or_down1" class="fa fa-caret-up" style="color:#60FF51;"></i>&nbsp;&nbsp;1.05</td>
                <td style=""><i id="up_or_down1" class="fa fa-caret-up" style="color:#60FF51;"></i>&nbsp;&nbsp;3.47</td>
                <td style="">460466&nbsp;BTC</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="mar_top2"></div>
          <div class="one_full">
              <main>
                {% if type == 'BTC' %}
                <input class="radiobuttontab" id="tab1" type="radio" name="tabs" checked>

                {% else %}
                <input class="radiobuttontab" id="tab1" type="radio" name="tabs">
                {% endif %}
                <label class="labels" for="tab1" onclick="location.href = '/exchange/btc';">BTC</label>

                {% if type == 'ETH' %}
                <input class="radiobuttontab" id="tab2" type="radio" name="tabs" checked>

                {% else %}
                <input class="radiobuttontab" id="tab2" type="radio" name="tabs">
                {% endif %}
                <label class="labels" for="tab2" onclick="location.href = '/exchange/eth';">ETH</label>

                {% if type == 'USD' %}
                <input class="radiobuttontab class1tab" id="tab3" type="radio" value="/exchange/usd" name="tabs" checked>

                {% else %}
                <input class="radiobuttontab class2tab" id="tab3" type="radio" name="tabs">
                {% endif %}
                <label class="labels" for="tab3" onclick="location.href = '/exchange/usd';">USDT</label>

                <section id="containerBTC">
                  <!-- <table class="scroll table-list02 trades"> -->
                  <table class="table-list02 trades">
                    <thead>
                      <tr>
                        <th><i class="fa fa-star"></i></th>
                        <th>Coin</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Change</th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style=""><i class="fa fa-star"></i></td>
                        <td style="">ETH</td>
                        <td style="">0.03110000</td>
                        <td style="">1,255.97</td>
                        <td style="">-15.47</td>
                        <td style="">Ethereum</td>
                      </tr>

                      <tr id="no_transactions" style="display:none;">
                        <td colspan="3">No transactions to show.</td>
                      </tr>
                    </tbody>
                  </table>
              </section>
                <section id="containerTRC">
                <div class="table-style">
                  <table class="table-list02 trades" id="transactions_list">
                    <tbody>
                      <tr>
                        <th><i class="fa fa-star"></i></th>
                        <th>Coin</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Change</th>
                        <th>Name</th>
                      </tr>
                      <tr>
                        <td style=""><i class="fa fa-star"></i></td>
                        <td style="">BTC</td>
                        <td style="">0.03810000</td>
                        <td style="">1,255.04</td>
                        <td style="">-15.47</td>
                        <td style="">Bitcoin</td>
                      </tr>
                      <tr id="no_transactions" style="display:none;">
                        <td colspan="3">No transactions to show.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
                <section id="containerETH">
                <div class="table-style">
                  <table class="table-list02 trades" id="transactions_list">
                    <tbody>
                      <tr>
                        <th><i class="fa fa-star"></i></th>
                        <th>Coin</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Change</th>
                        <th>Name</th>
                      </tr>
                      <tr>
                        <td style=""><i class="fa fa-star"></i></td>
                        <td style="">BTC</td>
                        <td style="">0.03810000</td>
                        <td style="">1,255.04</td>
                        <td style="">-15.47</td>
                        <td style="">Bitcoin</td>
                      </tr>
                      <tr>
                        <td style=""><i class="fa fa-star"></i></td>
                        <td style="">ETH</td>
                        <td style="">0.03810000</td>
                        <td style="">1,255.04</td>
                        <td style="">-15.47</td>
                        <td style="">Ethereum</td>
                      </tr>
                      <tr id="no_transactions" style="display:none;">
                        <td colspan="3">No transactions to show.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>

              </main>
            <div class="mar_top1"></div>
          </div>

          <div class="one_full">
              <div class="fresh_projects02 global_stats">
                <div class="panel02 panel-default">
                  <div class="panel-heading non-mobile">
                    <div class="one_fullpx">
                      <div class="title02">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;BABBLEBOX
                          <div class="iconright size">
                            <i class="fa fa-window-maximize field"></i>
                              <ul class="list">
                                <li onclick="myFunction()">Pop Out Babblebox</li>
                              </ul>
                          </div>
                      </div>
                    </div>
                    <script>
                      function myFunction() {
                          var myWindow = window.open("http://localhost:3333/babblebox", "", "width=300,height=400");
                      }
                    </script>

                  </div>
                  <div id="scrollcell">
                    <div class="panel-body03">
                      <table class="table-list04 trades02">
                        <tbody>
                          <tr>
                            <td><b>nimarama72&nbsp;-&nbsp;</b>Guys join this site to earn 7.2% daily on ur btc deposit PER DAY! just ttrying to help yall earn free bitcoins What about strat?
                            </td>
                          </tr>
                          <tr>
                            <td><b>Hazard&nbsp;-&nbsp;</b>2 days is ridiculous. i just pulled 2.2 btc from my other account and it came in 1 hour.. this is not right theres something wrong here. WTF!
                            </td>
                          </tr>

                          <tr>
                            <td><b>dyslexicstoner24&nbsp;-&nbsp;</b>Withasmile, like 12 days, I submitted all the info but the selfie was a little blurry. I submitted two more times HD selfies so they are perfectly readable.
                            </td>
                          </tr>
                          <tr>
                            <td><b>Zlatan&nbsp;-&nbsp;</b>Yelled a coin got hacked in the troll box is exactly what you want to stay away from.
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
                // io refers to the above import
                const io = ws('')
                const clients = io.channel('chat').connect(function(error, connected) {
                  console.log('Connected: ', connected)
                })
                // client.on('message', function(message) {
                //   console.log('Got message: ', message)
                // })
                //
                // client.emit('message', 'Hello World!')
              </script>
              {% if currentUser %}
              <div class="fresh_projects02 global_stats">
                <div class="panel-default02">
                  <div class="panel-heading02 non-mobile">
                    <div class="one_fullpx">
                      <div class="buyform02">
                        <div class="param02">
                          <input type="text" name="invite" value="" id="chat" placeholder="Say something...">
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            <div class="mar_top3"></div>
          </div>

          <!-- Display tweet on website -->

            <div class="one_full">
              <div class="fresh_projects02 global_stats">
                <div class="panel03 panel-default">
                  <div class="panel-heading non-mobile">
                    <div class="one_fullpx">
                      <div id="titleheader">
                        <div class="left">
                          <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;Announcement
                        </div>
                        <div class="right">
                          <a href="https://twitter.com/gibrex_"><i class="fa fa-twitter"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    {% verbatim %}
                    <div id="twitter" class="panel-body03">
                      <div class="one_fullpx">
                        <table class="table-list03 trades04">
                          <tbody>
                            <tr v-for="t in tweets">
                              <td>
                                <a>{{ t }}</a>
                                <div class="panel-divider4"></div>
                                <h6><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Posted by <a href="https://twitter.com/gibrex_"> gibrex_ </a></h6>
                              </td>
                            </tr>
                            <!-- <tr>
                              <td>Test tweet </td>
                            </tr>
                            <tr>
                              <td>Test tweet </td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                    {% endverbatim %}
                  </div>
                </div>
              </div>
            <div class="mar_top1"></div>
          </div>

      </div>
    <div class="clearfix mar_top20"></div>
  </div>


{% endblock %}

{% block docready %}

<script type="text/javascript">
var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();

    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });
}).resize(); // Trigger resize handler
</script>



<script type="text/javascript">
    jQuery(document).ready(function () {

        var sell_available = $("#sell_available").val();
        var sell_price = $("#sell_price").val();


        $('#buy_currency').bind('change', function () {
            var buy_currency = $("#buy_currency").val();

            var currency = '';
            if (buy_currency == 'BTC') {
                currency = 'BTC';
                // $('#buy_price').val({{coinInBtc}});
                $('#buy_user_available').html({{curBalance1}});
            } else if (buy_currency == 'ETH') {
                currency = 'ETH';
                // $('#buy_price').val({{coinInEth}});
                $('#buy_user_available').html({{curBalance2}});
            }
            $('.changeCurrency','').html(currency);

        });

        $('#buy_amount').bind('keyup blur', function () {

            $(this).val($(this).val().replace(/[^0-9.]/g, ''));

            var buy_amount = $("#buy_amount").val();
            var buy_currency = $("#buy_currency").val();
            var buy_available = '';
            // var buy_available = $("#buy_available").val();
            var trcPerUnit = '';
            if (buy_currency == 'BTC') {
                trcPerUnit = parseFloat({{coinInBtc}});
                buy_available = parseFloat({{curBalance1}});
            } else if (buy_currency == 'ETH') {
                trcPerUnit = parseFloat({{coinInEth}});
                buy_available = parseFloat({{curBalance2}});
            }

            var totalBuy = buy_amount * trcPerUnit;
            var totalBuyAmt = totalBuy.toFixed(8)

            var maxBuy = buy_available / trcPerUnit;

            var maxCanBuy = maxBuy.toFixed(8)

            if (parseFloat(totalBuyAmt) > buy_available) {
               $("#buy_amount").val(maxCanBuy);
            }

            if (maxCanBuy == 0) {
               $('#buy_subtotal').html(0.0);
               $('#buy_total').html(0.0);
            } else {
               $('#buy_subtotal').html(totalBuyAmt);
               $('#buy_total').html(totalBuyAmt);
            }

        });

        $('#sell_amount').bind('keyup blur', function () {

            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
            var sell_amount = $("#sell_amount").val();
            if (parseFloat(sell_amount) > sell_available) {
                $("#sell_amount").val(sell_available);
            }

            var total = parseFloat(sell_amount * sell_price);
            var sell_subtotal = total.toFixed(2)

            var maxSell = parseFloat(sell_available);

            if (sell_amount > maxSell) {

               $("#sell_amount").val(maxSell);
               sell_subtotal = maxSell * sell_price;
            }

            $('#sell_subtotal').html(sell_subtotal);
            $('#sell_total').html(sell_subtotal);

        });

    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {

(function($){
	$.fn.styleddropdown = function(){
		return this.each(function(){
			var obj = $(this)
			obj.find('.field').click(function() { //onclick event, 'list' fadein
			obj.find('.list').fadeIn(400);

			$(document).keyup(function(event) { //keypress event, fadeout on 'escape'
				if(event.keyCode == 27) {
				obj.find('.list').fadeOut(400);
				}
			});

			obj.find('.list').hover(function(){ },
				function(){
					$(this).fadeOut(400);

				});
			});

			obj.find('.list li').click(function() { //onclick event, change field value with selected 'list' item and fadeout 'list'
			obj.find('.field')
				.val($(this).html())
				// .css({
				// 	'background':'#fff',
				// 	'color':'#333'
				// });
			obj.find('.list').fadeOut(400);
			});
		});
	};
})(jQuery);

$(function(){
	$('.size').styleddropdown();
});

});
</script>
<script type="text/javascript" src="/vue/twitter.js"></script>
{% endblock %}
