{% extends 'layout/master' %}

{% block content %}

<div class="testimonials-4">

  <div class="one_third">
    <div class="content">
      <h3 class="section_label">
        <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Create Your {{ type }} Account</span>
      </h3>
      <div class="clear"></div>
      <br>
      <div class="notice">
        <h3>Please write down this PIN womewhere as this PIN shall be used to authenticate your transaction later</h3>
      </div>

      {% if old('error') %}
      <div class="message-box-wrap">
        <div class="error" role="alert">
        {% for k in error %}
          {{ k.message }}
        {% endfor %}
        </div>
      </div>
      {% endif %}

      {{ form.open({ action: 'Accounts/EthereumController.create' }) }}
        <div class="buyform">
          <div class="dotted"></div>
          <div class="mar_top2"></div>
          <div class="param">
              <label for="buy_amount">Insert Your PIN&nbsp;
              </label>
            <input name="pin1" id="pin1" value="" type="text">
            <div class="clear"></div>
          </div>
          <div class="mar_top1"></div>
          <div id="buy_price_container" class="param">
            <label for="buy_price">
              <span id="buy_price_limit_label">Confirm Your PIN</span>
            </label>
            <input name="pin2" id="pin2" value="" type="text">
          </div>
          <div class="mar_top3"></div>
          <input name="submit" value="Create Account {{ type }}" class="but_user" type="submit">
        </div>
      {{ form.close() }}
    </div>
  </div>
</div>

{% endblock %}
