{% extends 'layout/master' %}

{% block content %}

<h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;Create Account ( <strong>{{ type }}</strong> )</h3>
<div class="text">
  <p>You don't have any <strong>{{ type }}</strong> account yet. </p>
</div>
<div class="clearfix mar_top3"></div>
<div class="testimonials-4">
  <!-- <div class="notice">
    <div class="message-box-wrap">It is recommended that you set up two-factor authentication for your account using your cellphone. To do so, please visit the <a href="security.htm">Security </a>page.</div>
  </div>-->

  <ul class="list_empty">
    <li><a href="" class="but_user">Create Account</a></li>
  </ul>

  <div class="mar_top8"></div>
</div>

{% endblock %}
