{% extends 'layout/puppet' %}

{% block content %}

<div class="mar_top3"></div>
<h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;My Account&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{ type }}</h3>

<style>
section {
  display: none;
  padding: 30px 0 0;
  border-top: 6px solid #666;
}
.radiobuttontab {
  display: none;
}
.labels {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  /*font-weight: 600;*/
  text-align: center;
  color: #888;
  border: 0px solid transparent;
  background-color: #e2e2e2;
  border-bottom: 1px solid #666;
}
label:before {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
}
label:hover {
  color: #f1f1f1;
  cursor: pointer;
  background-color: #888;
}
input:checked + label {
  color: #f1f1f1;
  border: 1px solid #666;
  border-top: 4px solid #efa006;
  border-bottom: 1px solid #666;
  background-color: #666;
}
#tab0:checked ~ #content0,
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
</style>

<main>
  <input class="radiobuttontab" id="tab0" type="radio" name="tabs" checked>
  <label class="labels" for="tab0">Account Balance</label>

  <!--
  <input class="radiobuttontab" id="tab1" type="radio" name="tabs">
  <label class="labels" for="tab1">Buy/Sell</label>
  -->

  <input class="radiobuttontab"  id="tab2" type="radio" name="tabs">
  <label class="labels" for="tab2">Deposit</label>

  <input class="radiobuttontab"  id="tab3" type="radio" name="tabs">
  <label class="labels" for="tab3">Withdraw</label>

  <section id="content0">
    <div class="testimonials-4">
      <div class="notice">
        <div class="message-box-wrap"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;It is recommended that you set up two-factor authentication for your account using your cellphone. To do so, please visit the <a href="/accounts/security">Security </a>page.</div>
      </div>
      <div class="contentflat">
        <div class="mar_top2"></div>
        <h3 class="section_label01"> <i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Wallet Address</h3>&nbsp;
          <a target="_blank" title="Click for info on how this works." href="help.php?url=solution/articles/1000023402-what-are-market-price"><i class="fa fa-question"></i></a>
        <div class="section_label02">
          <span><a id="myBtn" class="but_user">{{ wallet.address }}</a></span>
        </div>
        <div class="mar_top2"></div>
      </div>

<!-- The Modal -->
<div id="myModal" class="modal">
 <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <img src="https://chart.googleapis.com/chart?chs=450x450&cht=qr&chl=bitcoin:{{ wallet.address }}">
  </div>
</div>
    <div class="clear"></div>
    <div class="mar_top1"></div>
    <div class="clear"></div>
      <div class="content">
        <div class="mar_top1"></div>
        <h3 class="section_label01"> <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;{{ type }} Available Balance</span> </h3>
        <div class="section_label02">
          <div class="amountbalance" id="decimals1">{{ balance.available }}</div>
        </div>
<div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="mar_top1"></div>
      <div class="clear"></div>

      {% if type != 'Ethereum' %}
      <div class="content">
        <div class="mar_top1"></div>
        <h3 class="section_label01"> <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;{{ type }} Pending Balance</span> </h3>
        <div class="section_label02">
          <div class="amountbalance" id="decimals1">{{ balance.pending }}</div>
        </div>
        <div class="clear"></div>
      </div>

      <!--div class="content">
        <h3 class="section_label"> <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Balances On Hold</span> </h3>
        <div class="clear"></div>
        <div class="balances">
          <div class="one_half">
            <div class="label">You have no open orders or withdrawal requests.</div>
            <div class="panel-divider2"></div>
            <div class="amount" id="decimals2">{{ balance.pending }}</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div-->
      <div class="mar_top3"></div>
      {% endif %}
      <!-- <ul class="list_empty">
        <li><a href="/trades/{{ type }}" class="but_user"> Buy/Sell</a></li>
        <li><a href="/accounts/{{ type }}/deposit" class="but_user"> Deposit</a></li>
        <li><a href="/accounts/{{ type }}/withdraw" class="but_user"> Withdraw</a></li>
      </ul> -->

      <div class="mar_top20"></div>
    </div>
  </section>

  <!-- content1 is for Buy/Sell -->
  <!--
  <section id="content1">
    <div class="testimonials-4">
      <input id="user_fee" value="0.00" type="hidden">
      <input id="user_fee1" value="0.00" type="hidden">
      <div class="one_half">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Buy {{acc_type}}</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <form id="buy_form" action="" method="POST">
            <div class="buyform">
              <div class="spacer"></div>
              <div class="calc dotted">
                <div class="label">Available
                  <span class="sell_currency_label">USD</span>
                </div>
                <div class="value">
                  <span class="buy_currency_char">$</span>
                  <span id="buy_user_available">0</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="param">
                  <label for="buy_amount">Amount To Buy</label>
                <input name="buy_amount" id="buy_amount" value="0" type="text">
                <div class="qualify">{{acc_type}}</div>
                <div class="clear"></div>
              </div>
              <div class="mar_top1"></div>
              <div class="param">
                <label for="buy_currency">Currency To Use</label>
                <select id="buy_currency" name="currency">
                  <option value="aed">AED</option>
                  <option value="aud">AUD</option>
                  <option value="bgn">BGN</option>
                  <option value="cad">CAD</option>
                  <option value="chf">CHF</option>
                  <option value="cny">CNY</option>
                  <option value="czk">CZK</option>
                  <option value="dkk">DKK</option>
                  <option value="eur">EUR</option>
                  <option value="gbp">GBP</option>
                  <option value="hkd">HKD</option>
                  <option value="hrk">HRK</option>
                  <option value="huf">HUF</option>
                  <option value="ils">ILS</option>
                  <option value="inr">INR</option>
                  <option value="jpy">JPY</option>
                  <option value="mur">MUR</option>
                  <option value="mxn">MXN</option>
                  <option value="nok">NOK</option>
                  <option value="nzd">NZD</option>
                  <option value="pln">PLN</option>
                  <option value="ron">RON</option>
                  <option value="rub">RUB</option>
                  <option value="sek">SEK</option>
                  <option value="sgd">SGD</option>
                  <option value="thb">THB</option>
                  <option value="try">TRY</option>
                  <option selected="selected" value="usd">USD</option>
                  <option value="zar">ZAR</option>
                </select>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <div class="param lessbottom">
                <input class="checkbox" name="buy_market_price" id="buy_market_price" value="1" type="checkbox">
                <label for="buy_market_price">Buy At Market Price&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=solution/articles/1000023402-what-are-market-price">
                    <i class="fa fa-question"></i>
                  </a>
                </label>
                <div class="clear"></div>
              </div>
              <div class="param lessbottom">
                <input class="checkbox" name="buy_limit" id="buy_limit" value="1" checked="checked" type="checkbox">
                <label for="buy_limit">Limit Order&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                    <i class="fa fa-question"></i>
                  </a>
                </label> 
                <div class="clear"></div>
              </div>
              <div class="param lessbottom">
                <input class="checkbox" name="buy_stop" id="buy_stop" value="1" type="checkbox">
                <label for="buy_stop">Stop Order&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101669-what-is-a-stop">
                    <i class="fa fa-question"></i>
                  </a>
                </label>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <div id="buy_price_container" class="param">
                <label for="buy_price">
                  <span id="buy_price_limit_label">Limit Price</span>
                  <span id="buy_price_market_label" style="display:none;">Price</span>
                </label>
                <input name="buy_price" id="buy_price" value="1,793.17" type="text">
                <div class="qualify">
                  <span class="buy_currency_label">USD</span>
                </div>
                <div class="clear"></div>
              </div>
                <div class="mar_top3"></div>
              <div id="buy_stop_container" class="param" style="display:none;">
                <label for="buy_stop_price">Stop Price</label>
                <input name="buy_stop_price" id="buy_stop_price" value="0.00" type="text">
                <div class="qualify">
                  <span class="buy_currency_label">USD</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="calc">
                <div class="label">Subtotal</div>
                <div class="value">
                  <span class="buy_currency_char">$</span>
                  <span id="buy_subtotal">0.00</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="calc">
                <div class="label">Fee&nbsp;
                  <a title="View fee schedule" href="fee-schedule.php" target="_blank">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
                <div class="value">
                  <span id="buy_user_fee">0.00</span>&nbsp;%</div>
                <div class="clear"></div>
              </div>
              <div class="dotted"></div>
              <div class="mar_top2"></div>
              <div class="calc bigger">
                <div class="label">
                  <span id="buy_total_approx_label">Approx.
                    <span class="buy_currency_label">USD</span>
                    to spend</span>
                  <span id="buy_total_label" style="display:none;">{{acc_type}} to Receive</span>
                </div>
                <div class="value">
                  <span class="buy_currency_char">$</span>
                  <span id="buy_total">0.00</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <input name="buy" value="1" type="hidden">
              <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
              <input name="submit" value="Buy {{acc_type}}" class="but_user" type="submit">
            </div>
          </form>
        </div>
      </div>
      <div class="one_half last">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Sell {{acc_type}}</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <form id="sell_form" action="buy-sell.php" method="POST">
            <div class="buyform">
              <div class="spacer"></div>
              <div class="calc dotted">
                <div class="label">Available {{acc_type}}</div>
                <div class="value">
                  <span id="sell_user_available">0</span>
                  {{acc_type}}</div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="param">
                <label for="sell_amount">Amount To Sell</label>
                <input name="sell_amount" id="sell_amount" value="0" type="text">
                <div class="qualify">{{acc_type}}</div>
                <div class="clear"></div>
              </div>
              <div class="mar_top1"></div>
              <div class="param">
                <label for="sell_currency">Currency To Use</label>
                <select id="sell_currency" name="currency">
                  <option value="aed">AED</option>
                  <option value="aud">AUD</option>
                  <option value="bgn">BGN</option>
                  <option value="cad">CAD</option>
                  <option value="chf">CHF</option>
                  <option value="cny">CNY</option>
                  <option value="czk">CZK</option>
                  <option value="dkk">DKK</option>
                  <option value="eur">EUR</option>
                  <option value="gbp">GBP</option>
                  <option value="hkd">HKD</option>
                  <option value="hrk">HRK</option>
                  <option value="huf">HUF</option>
                  <option value="ils">ILS</option>
                  <option value="inr">INR</option>
                  <option value="jpy">JPY</option>
                  <option value="mur">MUR</option>
                  <option value="mxn">MXN</option>
                  <option value="nok">NOK</option>
                  <option value="nzd">NZD</option>
                  <option value="pln">PLN</option>
                  <option value="ron">RON</option>
                  <option value="rub">RUB</option>
                  <option value="sek">SEK</option>
                  <option value="sgd">SGD</option>
                  <option value="thb">THB</option>
                  <option value="try">TRY</option>
                  <option selected="selected" value="usd">USD</option>
                  <option value="zar">ZAR</option>
                </select>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <div class="param lessbottom">
                <input class="checkbox" name="sell_market_price" id="sell_market_price" value="1" type="checkbox">
                <label for="sell_market_price">Sell At Market Price&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=solution/articles/1000023402-what-are-market-price">
                    <i class="fa fa-question"></i>
                  </a>
                </label>
                <div class="clear"></div>
              </div>
              <div class="param lessbottom">
                <input class="checkbox" name="sell_limit" id="sell_limit" value="1" checked="checked" type="checkbox">
                <label for="sell_stop">Limit Order&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101680-what-is-a-limit">
                    <i class="fa fa-question"></i>
                  </a>
                </label> 
                <div class="clear"></div>
              </div>
              <div class="param lessbottom">
                <input class="checkbox" name="sell_stop" id="sell_stop" value="1" type="checkbox">
                <label for="sell_stop">Stop Order&nbsp;
                  <a target="_blank" title="Click for info on how this works." href="help.php?url=support/solutions/articles/1000101669-what-is-a-stop">
                    <i class="fa fa-question"></i>
                  </a>
                </label>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <div id="sell_price_container" class="param">
                <label for="sell_price">
                  <span id="sell_price_limit_label">Limit Price</span>
                  <span id="sell_price_market_label" style="display:none;">Price</span>
                </label>
                <input name="sell_price" id="sell_price" value="1,752.89" type="text">
                <div class="qualify">
                  <span class="sell_currency_label">USD</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="mar_top3"></div>
              <div id="sell_stop_container" class="param" style="display:none;">
                <label for="sell_stop_price">Stop Price</label>
                <input name="sell_stop_price" id="sell_stop_price" value="0.00" type="text">
                <div class="qualify">
                  <span class="sell_currency_label">USD</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="calc">
                <div class="label">Subtotal</div>
                <div class="value">
                  <span class="sell_currency_char">$</span>
                  <span id="sell_subtotal">0.00</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="calc">
                <div class="label">Fee&nbsp;
                  <a title="View fee schedule" href="fee-schedule.php" target="_blank">
                    <i class="fa fa-question"></i>
                  </a>
                </div>
                <div class="value">
                  <span id="sell_user_fee">0.00</span>&nbsp;%</div>
                <div class="clear"></div>
              </div>
              <div class="dotted"></div>
              <div class="mar_top2"></div>
              <div class="calc bigger">
                <div class="label">
                  <span id="sell_total_approx_label">Approx
                    <span class="sell_currency_label">USD</span>
                    to receive</span>
                  <span id="sell_total_label" style="display:none;">
                    <span class="sell_currency_label">USD</span>
                    to receive</span>
                </div>
                <div class="value">
                  <span class="sell_currency_char">$</span>
                  <span id="sell_total">0.00</span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="mar_top2"></div>
              <input name="sell" value="1" type="hidden">
              <input name="uniq" value="1441c02fd0a98d848f2d818bdb170101" type="hidden">
              <input name="submit" value="Sell {{acc_type}}" class="but_user" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="mar_top6"></div>
    <div class="clear"></div>

    <div id="filters_area">

      <div class="one_half">
        <h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Top 10 Bids</h3>
        <div class="table-style">
          <table class="table-list trades" id="bids_list">
            <tbody>
              <tr>
                <th>Price</th>
                <th>Amount</th>
                <th>Value</th>
              </tr>

              <tr class="bid_tr" id="bid_35539796">
                <td style="">$<span class="order_price">1,780.84</span>
                </td>
                <td style="">
                  <span class="order_amount">0.09240000</span>
                </td>
                <td style="">$<span class="order_value">164.55</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539807">
                <td style="">$<span class="order_price">1,780.82</span>
                </td>
                <td style="">
                  <span class="order_amount">0.04450000</span>
                </td>
                <td style="">$<span class="order_value">79.25</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539797">
                <td style="">$<span class="order_price">1,780.29</span>
                </td>
                <td style="">
                  <span class="order_amount">0.04390000</span>
                </td>
                <td style="">$<span class="order_value">78.15</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539798">
                <td style="">$<span class="order_price">1,780.06</span>
                </td>
                <td style="">
                  <span class="order_amount">0.02150000</span>
                </td>
                <td style="">$<span class="order_value">38.27</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539860">
                <td style="">$<span class="order_price">1,779.79</span>
                </td>
                <td style="">
                  <span class="order_amount">0.02660000</span>
                </td>
                <td style="">$<span class="order_value">47.34</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539799">
                <td style="">$<span class="order_price">1,779.52</span>
                </td>
                <td style="">
                  <span class="order_amount">0.02410000</span>
                </td>
                <td style="">$<span class="order_value">42.89</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539800">
                <td style="">$<span class="order_price">1,779.15</span>
                </td>
                <td style="">
                  <span class="order_amount">0.03420000</span>
                </td>
                <td style="">$<span class="order_value">60.85</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539801">
                <td style="">$<span class="order_price">1,778.88</span>
                </td>
                <td style="">
                  <span class="order_amount">0.04220000</span>
                </td>
                <td style="">$<span class="order_value">75.07</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539802">
                <td style="">$<span class="order_price">1,778.67</span>
                </td>
                <td style="">
                  <span class="order_amount">0.05530000</span>
                </td>
                <td style="">$<span class="order_value">98.36</span>
                </td>
              </tr>
              <tr class="bid_tr" id="bid_35539803">
                <td style="">$<span class="order_price">1,778.30</span>
                </td>
                <td style="">
                  <span class="order_amount">0.02430000</span>
                </td>
                <td style="">$<span class="order_value">43.21</span>
                </td>
              </tr>
              <tr id="no_bids" style="display:none;">
                <td colspan="4">No bids to show.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="one_half last">
        <h3><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Top 10 Asks</h3>
        <div class="table-style">
          <table class="table-list trades" id="asks_list">
            <tbody>
              <tr>
                <th>Price</th>
                <th>Amount</th>
                <th>Value</th>
              </tr>

              <tr id="no_asks" style="display:none;">
                <td colspan="4">No asks to show.</td>
              </tr>
              <tr class="ask_tr" id="ask_35539346">
                <td style="">$<span class="order_price">1,823.94</span>
                </td>
                <td style="">
                  <span class="order_amount">0.04910000</span>
                </td>
                <td style="">$<span class="order_value">89.56</span>
                </td>
              </tr>
              <tr class="ask_tr" id="ask_35539884">
                <td style="">$<span class="order_price">1,824.07</span>
                </td>
                <td style="">
                  <span class="order_amount">0.07120000</span>
                </td>
                <td style="">$<span class="order_value">129.87</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="mar_top5"></div>
  </section>
  -->

  <section id="content2">
    <div class="testimonials-4">
      <div class="one_half">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Deposit {{ type }}</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <div class="buyform">
            <div class="spacer"></div>
            <div class="mar_top2"></div>
            <div class="param">
              <label for="deposit_address">Send {{ type }} To This Address</label>
              <input type="text" id="deposit_address" name="deposit_address" value="{{ wallet.address }}">
              <div class="clear"></div>
            </div>
            <div class="spacer"></div>
            <div class="mar_top2"></div>
            <div class="calc">
              <!-- <img class="qrcode" src="includes/qrcode.php?code=12EKwepGaYcpjXHU1dsUVUBXUcNLGbrmRz"> -->
              <img src="https://chart.googleapis.com/chart?chs=450x450&cht=qr&chl=bitcoin:{{ wallet.address }}">
            </div>
            <div class="spacer"></div>
            <div class="mar_top2"></div>
            <!--
            <div class="calc">
              <a class="item_label" href=""><i class="fa fa-cog"></i> Manage {{ type }} addresses</a>
              <div class="clear"></div>
            </div>
            -->
          </div>
        </div>
      </div>
      <div class="one_half last">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Deposit Fiat Currency</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <br/>
          <h3>Comming Soon</h3>
          <!--
          <div class="buyform">
            <div class="spacer"></div>
            <div class="mar_top2"></div>
            <div class="param">
            <label for="deposit_bank_account">Bank Account To Use</label>
              <select id="deposit_bank_account" name="deposit_bank_account">
              <option selected="selected" value="336">75327588755235 - (USD)</option>             </select>
              <div class="clear"></div>
            </div>
            <div class="spacer"></div>
            <div class="mar_top2"></div>
            <div class="calc">
              <div class="mar_top2"></div>
              <a class="item_label" href="bank-accounts.php"><i class="fa fa-cog"></i> Manage bank accounts</a>
              <div class="clear"></div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
    <div class="mar_top3"></div>
    <div class="clear"></div>
    <h3>Recent Deposits</h3>
    <div id="filters_area">
          <div class="table-style">
            <table class="table-list trades" id="bids_list">
              <tbody><tr>
                <th>ID</th>
                <th>Date and Time</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
              <tr><td colspan="5">You have not made any deposits.</td></tr>           </tbody></table>
      </div>
          </div>
    <div class="mar_top5"></div>

  </section>

  <section id="content3">
    <div class="testimonials-4">
      <div class="one_half">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Withdraw {{ type }}</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <form id="buy_form" action="" method="POST">
            <div class="buyform">
              <div class="spacer"></div>
              <div class="calc dotted">
                <div class="label">Available {{ type }}</div>
                <div class="value">{{ balance.available }}</div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="param">
                <label for="btc_address">Send to Address</label>
                <input type="text" id="btc_address" name="btc_address" value="">
                <div class="clear"></div>
              </div>
              <div class="mar_top1"></div>
              <div class="param">
                <label for="btc_amount">Amount to Send</label>
                <input type="text" id="btc_amount" name="btc_amount" value="0.00000000">
                <div class="qualify">BTC</div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="mar_top2"></div>
              <div class="calc">
                <div class="label">Network Fee <a title="The fee the network charges for transactions." href="javascript:return false;">&nbsp;<i class="fa fa-question"></i></a></div>
                <div class="value"><span id="withdraw_btc_network_fee">0.0001</span> {{ type }}</div>
                <div class="clear"></div>
              </div>
              <div class="calc bigger">
                <div class="label"> <span id="withdraw_btc_total_label">{{ type }} to Receive</span> </div>
                <div class="value"><span id="withdraw_btc_total"></span></div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <input type="hidden" name="bitcoins" value="1">
              <input type="submit" name="submit" value="Send Bitcoins" class="but_user">
            </div>
          </form>
          <div class="clear"></div>
        </div>
      </div>
      <div class="one_half last">
        <div class="content">
          <h3 class="section_label">
            <span class="right"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Withdraw To Fiat Currency</span>
          </h3>
          <div class="clear"></div>
          <div class="dotted"></div>
          <br/>
          <h3>Coming Soon</h3>
          <!--
          <form id="buy_form" action="" method="POST">
            <div class="buyform">
              <div class="spacer"></div>
              <div class="calc dotted">
                <div class="label">Available <span class="currency_label">USD</span></div>
                <div class="value"><span class="currency_char">$</span><span id="user_available">0.00</span></div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="param">
                <label for="withdraw_account">Receiving Bank Account</label>
                <select id="withdraw_account" name="account">
                  <option selected="selected" value="336">75327588755235 - (USD)</option>
                </select>
                <div class="clear"></div>
              </div>
              <div class="mar_top1"></div>
              <div class="param">
                <label for="fiat_amount">Amount to Withdraw</label>
                <input type="text" id="fiat_amount" name="fiat_amount" value="0.00">
                <div class="qualify"><span class="currency_label">USD</span></div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="mar_top2"></div>
              <div class="calc">
                <div class="label">Fee <a title="View fee schedule" href="https://1btcxe.com/fee-schedule.php">&nbsp;<i class="fa fa-question"></i></a></div>
                <div class="value"><span class="currency_char">$</span><span id="withdraw_fiat_fee">0.00</span></div>
                <div class="clear"></div>
              </div>
              <div class="calc bigger">
                <div class="label"><span class="currency_label">USD</span> to Receive</div>
                <div class="value"><span class="currency_char">$</span><span id="withdraw_fiat_total">0.00</span></div>
                <div class="clear"></div>
              </div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <input type="hidden" name="fiat" value="1">
              <input type="submit" name="submit" value="Withdraw Currency" class="but_user">
            </div>
          </form>
          -->
        </div>
      </div>
    </div>
    <div class="mar_top3"></div>
    <div class="clear"></div>
    <h3>Recent Withdrawals</h3>
    <div id="filters_area">
      <div class="table-style">
        <table class="table-list trades" id="bids_list">
          <tbody>
            <tr>
              <th>ID</th>
              <th>Date and Time</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Net Amount</th>
              <th>Status</th>
            </tr>
            <tr>
              <td colspan="5">No withdrawals have been made.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mar_top5"></div>

  </section>

</main>

{% endblock %}
