{% extends 'layout/puppet' %}

{% block content %}

<div class="page_title">
  <div class="container">
    <div class="title">
      <h3><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Login To Your Account</h3>
    </div>

  </div>
</div>
<div class="fresh_projects login_bg">
  <div class="clearfix mar_top5"></div>
  <div class="container">

    <div class="__banner">
      <div class="banner__inner">
        <h1>{{ error.status }}</h1>
        <h3>
          Something bad happened! <br>
          You don't have access to this area.
          <br>
          <hr>
          <a href="/">&larr; Go Back</a>
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
