<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js js" lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Gibrex Exchange</title>
<!-- base href="" -->

<meta charset="utf-8">
<!-- <script type="text/javascript" src="js/31e3f96582"></script> -->
<script src="/js/nr-998.js"></script>

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="publisher" content="Gibrex">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">

<!-- this styles only adds some repairs on idevices  -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link rel="stylesheet" href="css/css.css" type="text/css">

<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- ######### CSS STYLES ######### -->
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.css">
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

<!-- responsive devices styles -->
<link rel="stylesheet" media="screen" href="/css/responsive-leyouts.css" type="text/css">
<link rel="stylesheet" href="/css/colour.css">
<link rel="alternate" href="" hreflang="es">
<link rel="alternate" href="" hreflang="ru">
<link rel="alternate" href="" hreflang="zh">


</head>

<body>

<div class="site_wrapper">

  <!-- HEADER -->
  <header id="header">

    <!-- Top header bar -->
    <div id="topHeader">
      <div class="wrapper">
        <div class="top_contact_info">
          <div class="container">
            <ul class="tci_list_left">
              <li><a href="">FAQ</a></li>
              <li>|</li>
              <li><a href="support.php"><i class="fa fa-life-ring"></i>&nbsp;&nbsp;&nbsp;Support Centre</a></li>
              <li>|</li>
              <li><a href="contact.php">Contact Us&nbsp;</a></li>
              <li><i class="fa fa-phone-square"></i>&nbsp;&nbsp;+44.702.499.885</li>
            </ul>
            <ul class="tci_list">

              <li><a href="/auth/login"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Login</a></li>
              <li>|</li>
              <li><a href="/auth/register"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Register</a></li>



              <li class="empty margin-left">
                <label for="language_selector"><img src="/images/language/en.png"></label>
                <select id="language_selector" class="lang">
                  <option value="en" selected="selected">English</option>
                  <option value="es">Español</option>
                  <option value="ru">Pусский</option>
                  <option value="zh">中文</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
        <!-- end top contact info -->

      </div>
    </div>
    <div id="trueHeader">
      <div class="wrapper">
        <div class="container">

          <!-- Logo -->
          <div class="one_fourth"><a href="/" id="logo"></a></div>

          <!-- Menu -->
          <div class="three_fourth last">
            <nav id="access" class="access" role="navigation">
              <div id="menu" class="menu">
                <ul id="tiny">
                  <li><a href="/">Home</a></li>
                  <li><a href="/exchange">Exchange</a></li>
                  <li><a href="">Order Book</a></li>
                  <li><a href="">Our Security</a></li>
                  <li><a href="">How Does It Work?</a></li>
                  <li><a href="">Fees</a></li>
                  <li><a href="">Gibrex</a></li>
                  <li style="display:none;"><a href="/login">Login</a></li>
                  <li style="display:none;"><a href="/register">Register</a></li>
                  <li><a href="/account">My Account</a></li>

                </ul>

              </div>
            </nav>
            <!-- end nav menu -->

          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

</div>

<!-- ######### JS FILES ######### -->
<script type="text/javascript" src="/js/jquery_004.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.color.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->
<!-- <script src="/js/app_2.js"></script> -->
<!-- main js -->
<!-- <script type="text/javascript" src="/js/ops.js"></script> -->

<!-- flot -->
<script type="text/javascript" src="/js/jquery_003.js"></script>
<script type="text/javascript" src="/js/jquery_002.js"></script>
<script type="text/javascript" src="/js/jquery_005.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script> -->


 <!-- @yield('docready') -->
</body>
</html>
