{% extends 'layout/master' %}

{% block content %}

  <script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/ws.js"></script>
  <script src="/js/charts/highstock.js"></script>
  {# <script src="/js/charts/exporting.js"></script> #}

  <link rel="stylesheet" href="/css/exchange.css" type="text/css">


  <div class="testimonials-4">
    <div class="clearfix mar_top2"></div>
    <div class="three_fourthpx">

    </div>

      <div class="one_fourthpx lastpx">

      </div>
    <div class="clearfix mar_top20"></div>
  </div>


{% endblock %}
