{% extends 'layout/puppet' %} {% block content %}

<div class="testimonials-4">
  <div class="one_full">
    <div class="content">
      <h3 class="section_label">
      <span class="right"><h1><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;Coming Soon!</h1></span>
    </h3>
      <div class="clear"></div>
      <div class="dotted"></div>
      <div class="buyform">
        <div class="spacer"></div>
        <div class="mar_top2"></div>
        <div class="param">
          <label for="deposit_bank_account">We are currently working on new brand website. Stay tuned!</label>
          <div class="clear"></div>
        </div>
        <div class="spacer"></div>
        <div class="mar_top2"></div>
      </div>
    </div>
  </div>
</div>
<div class="mar_top10"></div>
<div class="mar_top10"></div>
<div class="mar_top10"></div>
<div class="mar_top5"></div>

{% endblock %}
