

{% block content %}



<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 00px; margin: 0 auto"></div>

<script type="text/javascript">

var list = {data: []};

document.write(list);

Highcharts.chart('container', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Buy/Sell Chart'
    },
    subtitle: {
        text: 'Source: Gibrex'
    },
    xAxis: {
        title: {
            text: 'Price'
        },
        allowDecimals: true,
        labels: {
            formatter: function () {
                return this.value; // clean, unformatted number for year
            }
        }
    },
    yAxis: {
        title: {
            text: 'Volume'
        },
        labels: {
            formatter: function () {
                return this.value;
            }
        }
    },
    tooltip: {
        pointFormat: '{series.name}'
    },
    plotOptions: {
        area: {
            pointStart: 0,
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        }
    },
    series: [{
        name: 'Buy',
        data: [
          {% for b in bid_data %}
            [{{b.price}},{{b.amount*b.price}}],
          {% endfor %}
        ]
    }, {
        name: 'Sell',
        data: [
          {% for a in ask_data %}
              [{{a.price}},{{a.amount*a.price}}],
            {% endfor %}
        ]
    }]
});

</script>


{% endblock %}