{% extends 'layout/puppet' %}{% block content %}



<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container_mdepth" style="min-width: 310px; height: 00px; margin: 0 auto"></div>

<script type="text/javascript" src="/graphs/mdepth.js"></script>


{% endblock %}
