<strong>
Hello!
<br/>
Click on the below link to verify your email address. You have used {{ email }} when signing up.
</strong>

<p>
  <a href="https://gibrex.com/auth/verify?token={{ verification_code }}">
    https://gibrex.com/auth/verify?token={{ verification_code }}
  </a>
</p>
<p> 
  <a href="https://gibrex.com/auth/verify?token={{ verification_code }}"> Verify Account </a>
</p>
